.footer {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    padding: 1rem;
    width: 100%;

    background-color: #343c44;
    font-size: 0.9rem;
    color: white;
}

.line {
    line-height: 1.6rem;
}

a {
    color: #d5eb04;
    text-decoration: none;
}
a:hover {
}
